/* line 1, ../sass/clinica.scss */
.mapa-navegacao {
  float: left;
  width: 100%;
  padding: 25px 0px;
  border-bottom: 2px solid #f58534;
}
/* line 6, ../sass/clinica.scss */
.mapa-navegacao h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #a5a5a4;
}
/* line 10, ../sass/clinica.scss */
.mapa-navegacao h3 strong {
  color: #616161;
}

/* line 16, ../sass/clinica.scss */
section.sobre {
  float: left;
  width: 100%;
  padding: 50px 0px;
}
/* line 20, ../sass/clinica.scss */
section.sobre h4 {
  font-size: 26px;
  color: #616161;
  margin-bottom: 30px;
}
/* line 25, ../sass/clinica.scss */
section.sobre p {
  font-size: 14px;
  color: #818181;
  line-height: 20px;
}

/* line 32, ../sass/clinica.scss */
section.sedes {
  float: left;
  width: 100%;
  padding: 50px 0px;
  margin-bottom: 80px;
}
/* line 37, ../sass/clinica.scss */
section.sedes h2 {
  font-size: 34px;
  color: #616161;
  margin-bottom: 30px;
  text-align: center;
}
/* line 43, ../sass/clinica.scss */
section.sedes .box-sede {
  float: left;
  width: 100%;
  background-color: #fafaf6;
  margin: 15px 0px;
}
/* line 48, ../sass/clinica.scss */
section.sedes .box-sede img {
  width: 100%;
}
/* line 51, ../sass/clinica.scss */
section.sedes .box-sede h4 {
  font-size: 26px;
  color: #616161;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 20px;
}
/* line 58, ../sass/clinica.scss */
section.sedes .box-sede p {
  font-size: 14px;
  color: #818181;
  padding-left: 20px;
}
/* line 63, ../sass/clinica.scss */
section.sedes .box-sede ul {
  padding-left: 20px;
  margin-top: 30px;
}
/* line 66, ../sass/clinica.scss */
section.sedes .box-sede ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
  color: #ff8a36;
}
/* line 72, ../sass/clinica.scss */
section.sedes .box-sede ul li img {
  float: left;
  width: auto;
  margin-right: 5px;
}
/* line 77, ../sass/clinica.scss */
section.sedes .box-sede ul li a {
  font-size: 14px;
  color: #ff8a36;
}

/* line 86, ../sass/clinica.scss */
section.forma-pagamento {
  float: left;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}
/* line 91, ../sass/clinica.scss */
section.forma-pagamento h2 {
  font-size: 34px;
  color: #616161;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  /* line 100, ../sass/clinica.scss */
  section.forma-pagamento img {
    width: 100%;
  }
  section.sobre{
    padding: 25px 25px 50px 25px !important;
  }
  section.sobre h4{
    margin-top: 25px !important;
    margin-bottom: 10px !important;
  }
  section.sedes .box-sede h4{
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 991px) {
  /* line 100, ../sass/clinica.scss */
  section.forma-pagamento img {
    width: 100%;
  }
  section.sobre{
    padding: 25px 25px 50px 25px !important;
  }
  section.sobre h4{
    margin-top: 25px !important;
    margin-bottom: 10px !important;
  }
  section.sedes .box-sede h4{
    margin-top: 5px !important;
  }
}
