ul#sidebar{
	text-transform: capitalize;
}
ul#sidebar li h2{
	font-size: 24px;
	color: #616161;
	margin-top: 50px;
	margin-bottom: 30px;
}

.widget_categories ul li a,
.widget_archive ul li a{
	color: #818181;
}

.widget_categories ul li,
.widget_archive ul li{
	font-size: 14px;
	color: #818181;
	margin-bottom: 20px;
}

.widget_tag_cloud .tagcloud a{
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 14px !important;
    padding: 15px;
    float: left;
    margin: 2px;
}

#sidebar .fa.fa-circle-o{
	color: #f58534;
}


/* TRATAMENTOS */

section.tratamento .menu-tratamentos ul li a button.active {
    background-color: #f5f5f0;
    color: #f58534;
}

/* CONTATO */
.message_flash{
	padding: 15px;
}

/* FOOTER */

footer h2 img{
	float: left;
}




/* */
.mapa-navegacao h3 a{
	color: #a5a5a4;
}

section.escolher .escolher button:hover,
.btn-leiamais button:hover {
    background-color: #f05b43 !important;
    color: #fff !important;
}

section.sedes .box-sede{
	min-height: auto;
}

.btn-agendar button:hover{
	background-color: #fff !important;
	color: #F05B43 !important;
}

.btn-conheca button:hover{
	background-color: #fff !important;
	color: #F05B43 !important;
}

.btn-agendar-footer button:hover{
	background-color: #F05B43 !important;
	color: #fff !important;
}
.btn-agendar-banner button:hover{
	background-color: #F05B43 !important;
	border-color: #F05B43 !important;
	color: #fff !important;
}

section.banner .banner-principal .item .caption-banner{
	width: 36%;
}

section.servicos-home .box-servico p{
	height: 60px !important;
}

.box-tratamentos:nth-child(even) .bg-servico1 {
	background-color: #fafaf6 !important;
}
.box-tratamentos:nth-child(odd) .bg-servico1{
	background-color: #f5f5f0 !important;
}

.top .logo-header img{
	width: auto !important;
}

.top .sede-telefone,
.top .sede-whatsapp{
	text-align: left !important;
}

.box-responsavel p{
	font-size: 14px;
	color: #818181;
}
.box-responsavel h4{
	font-size: 20px;
	color: #616161;
}

section.dr{
	padding: 40px 0px;
}

.info-responsavel{
	margin-top: 40px;
}

section.sedes .box-sede h4{
	margin-top: 20px;
}

section.sedes .box-sede ul{
	margin-top: 25px;
}
section.sedes .box-sede ul li{
	margin-right: 4px;
}

@media (max-width: 768px) {

	.top .sede-telefone img,
	.top .sede-whatsapp img{
		width: 15%;
	}

	section.banner{
		display: none;
	}
	section.servicos-home{
		margin-top: 0px;
	}
}