/* line 1, ../sass/footer.scss */
footer {
  float: left;
  width: 100%;
  background-color: #616161;
  padding: 50px 0px;
}
/* line 6, ../sass/footer.scss */
footer h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
}
/* line 12, ../sass/footer.scss */
footer ul li {
  margin-bottom: 10px;
}
/* line 14, ../sass/footer.scss */
footer ul li a {
  font-size: 16px;
  color: #9a9a9a;
}
/* line 18, ../sass/footer.scss */
footer ul li a:hover {
  color: #ff8a36;
  transition: 0.3s;
  text-decoration: none;
}
/* line 25, ../sass/footer.scss */
footer .nice-select {
  width: 100%;
  height: 45px;
  font-size: 16px;
  border: 2px solid #ffffff;
  background-color: transparent;
  margin-bottom: 30px;
  color: #ffffff;
}
/* line 33, ../sass/footer.scss */
footer .nice-select .list {
  width: 100%;
  background-color: #616161;
}
/* line 36, ../sass/footer.scss */
footer .nice-select .list .option {
  background-color: #616161;
  font-size: 16px;
}
/* line 42, ../sass/footer.scss */
footer .nice-select .option:hover, footer .nice-select .option.focus, footer .nice-select .option.selected.focus {
  background-color: #616161;
  font-size: 16px;
}
/* line 46, ../sass/footer.scss */
footer h2 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 50, ../sass/footer.scss */
footer h2 img {
  margin-bottom: -5px;
  margin-right: 10px;
}
/* line 55, ../sass/footer.scss */
footer p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 61, ../sass/footer.scss */
footer span {
  font-size: 16px;
  color: #9a9a9a;
}

/* line 67, ../sass/footer.scss */
.agendar-footer {
  padding: 40px;
  background-color: #ffffff;
}
/* line 70, ../sass/footer.scss */
.agendar-footer h3 {
  font-size: 30px;
  color: #f05b43;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 76, ../sass/footer.scss */
.agendar-footer p {
  font-size: 16px;
  color: #f05b43;
}
/* line 80, ../sass/footer.scss */
.agendar-footer button {
  padding: 15px 80px;
  border: 2px solid #f05b43;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #616161;
  margin-top: 10px;
}

/* line 91, ../sass/footer.scss */
.rodape {
  float: left;
  width: 100%;
  background-color: #3f4040;
  padding: 20px 0px;
}
/* line 96, ../sass/footer.scss */
.rodape .cophy {
  float: left;
}
/* line 98, ../sass/footer.scss */
.rodape .cophy p {
  font-size: 12px;
  color: #ffffff;
}
/* line 103, ../sass/footer.scss */
.rodape .dev {
  float: right;
}
/* line 105, ../sass/footer.scss */
.rodape .dev p {
  font-size: 12px;
  color: #ffffff;
}
/* line 108, ../sass/footer.scss */
.rodape .dev p img {
  margin-bottom: -5px;
  margin-left: 10px;
}
