/* line 2, ../sass/index.scss */
section.banner .banner-principal {
  position: relative;
}
/* line 5, ../sass/index.scss */
section.banner .banner-principal .item img {
  width: 100%;
}
/* line 8, ../sass/index.scss */
section.banner .banner-principal .item .caption-banner {
  position: absolute;
  top: 80px;
  width: 300px;
}
/* line 12, ../sass/index.scss */
section.banner .banner-principal .item .caption-banner h1 {
  font-size: 37px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}
/* line 18, ../sass/index.scss */
section.banner .banner-principal .item .caption-banner p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 35px;
}
/* line 23, ../sass/index.scss */
section.banner .banner-principal .item .caption-banner button {
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
}

/* line 36, ../sass/index.scss */
section.servicos-home {
  margin-top: -50px;
}
/* line 38, ../sass/index.scss */
section.servicos-home .box-servico {
  max-height: 310px;
  padding: 40px;
}
/* line 41, ../sass/index.scss */
section.servicos-home .box-servico img {
  margin-bottom: 40px;
}
/* line 44, ../sass/index.scss */
section.servicos-home .box-servico h4 {
  font-size: 26px;
  color: #616161;
  margin-bottom: 30px;
}
/* line 49, ../sass/index.scss */
section.servicos-home .box-servico p {
  font-size: 14px;
  color: #818181;
  line-height: 20px;
}
/* line 55, ../sass/index.scss */
section.servicos-home .bg-servico1 {
  background-color: #fafaf6;
}
/* line 58, ../sass/index.scss */
section.servicos-home .bg-servico2 {
  background-color: #f5f5f0;
}

/* line 63, ../sass/index.scss */
section.escolher {
  margin-top: 170px;
  float: left;
  width: 100%;
  background-color: #fafaf6;
  padding-bottom: 50px;
}
/* line 69, ../sass/index.scss */
section.escolher .agendar {
  padding: 40px;
  background-color: #f05b43;
  margin-top: -100px;
}
/* line 73, ../sass/index.scss */
section.escolher .agendar h3 {
  font-size: 30px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 79, ../sass/index.scss */
section.escolher .agendar p {
  font-size: 16px;
  color: #ffffff;
}
/* line 83, ../sass/index.scss */
section.escolher .agendar button {
  padding: 15px 80px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
/* line 93, ../sass/index.scss */
section.escolher .escolher {
  margin-top: 80px;
}
/* line 95, ../sass/index.scss */
section.escolher .escolher h3 {
  font-size: 30px;
  color: #616161;
  margin-bottom: 30px;
  padding-right: 120px;
}
/* line 101, ../sass/index.scss */
section.escolher .escolher p {
  font-size: 14px;
  color: #818181;
  margin-top: 30px;
  padding-right: 120px;
}
/* line 107, ../sass/index.scss */
section.escolher .escolher button {
  padding: 15px 30px;
  border: 2px solid #f05b43;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #f05b43;
  margin-top: 50px;
}
/* line 117, ../sass/index.scss */
section.escolher .bx-wrapper {
  border: 0px;
}
/* line 120, ../sass/index.scss */
section.escolher .bx-wrapper .bx-prev {
  background: url("../images/arrow-prev.png") no-repeat;
  width: 48px;
  height: 48px;
  left: 0px;
}
/* line 126, ../sass/index.scss */
section.escolher .bx-wrapper .bx-next {
  background: url("../images/arrow-next.png") no-repeat;
  width: 48px;
  height: 48px;
  right: 0px;
}

/* line 134, ../sass/index.scss */
.agendar {
  padding: 40px;
  background-color: #f05b43;
  margin-top: -100px;
}
/* line 138, ../sass/index.scss */
.agendar h3 {
  font-size: 30px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 144, ../sass/index.scss */
.agendar p {
  font-size: 16px;
  color: #ffffff;
}
/* line 148, ../sass/index.scss */
.agendar button {
  padding: 15px 80px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

/* line 159, ../sass/index.scss */
section.spe {
  float: left;
  width: 100%;
  background-color: #ff8a36;
}
/* line 163, ../sass/index.scss */
section.spe .box-spe {
  padding: 80px 20px;
  text-align: center;
}
/* line 166, ../sass/index.scss */
section.spe .box-spe h4 {
  font-size: 26px;
  color: #ffffff;
  margin: 15px 0px;
}
/* line 171, ../sass/index.scss */
section.spe .box-spe p {
  font-size: 14px;
  color: #ffffff;
}

/* line 178, ../sass/index.scss */
section.dr {
  float: left;
  width: 100%;
}
/* line 181, ../sass/index.scss */
section.dr .box-dr {
  padding: 80px 20px;
  text-align: center;
}
/* line 184, ../sass/index.scss */
section.dr .box-dr img {
  width: 158px;
  height: 158px;
  border-radius: 50%;
  margin-bottom: 30px;
}
/* line 190, ../sass/index.scss */
section.dr .box-dr h4 {
  font-size: 26px;
  color: #616161;
}
/* line 194, ../sass/index.scss */
section.dr .box-dr span {
  font-size: 12px;
  color: #616161;
  text-transform: uppercase;
}
/* line 199, ../sass/index.scss */
section.dr .box-dr p {
  font-size: 14px;
  color: #616161;
  margin-top: 15px;
}

/* line 207, ../sass/index.scss */
section.noticias {
  float: left;
  width: 100%;
  background-color: #fafaf6;
}
/* line 211, ../sass/index.scss */
section.noticias .box-noticia {
  padding: 80px 20px;
}
/* line 213, ../sass/index.scss */
section.noticias .box-noticia img {
  width: 100%;
}
/* line 216, ../sass/index.scss */
section.noticias .box-noticia h4 {
  font-size: 26px;
  color: #616161;
  margin: 35px 0px;
}
/* line 221, ../sass/index.scss */
section.noticias .box-noticia p {
  font-size: 14px;
  color: #818181;
}
/* line 225, ../sass/index.scss */
section.noticias .box-noticia button {
  padding: 15px 30px;
  border: 2px solid #f05b43;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #f05b43;
  margin-top: 60px;
}

/* line 237, ../sass/index.scss */
section.depoimentos {
  float: left;
  width: 100%;
}
/* line 240, ../sass/index.scss */
section.depoimentos .box-depoimento {
  text-align: center;
  padding: 80px 0px;
}
/* line 243, ../sass/index.scss */
section.depoimentos .box-depoimento p {
  background-color: #fafaf6;
  color: #818181;
  width: 100%;
  padding: 20px 20px 60px 20px;
  font-size: 14px;
}
/* line 250, ../sass/index.scss */
section.depoimentos .box-depoimento img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: -35px;
  margin-bottom: 15px;
}
/* line 257, ../sass/index.scss */
section.depoimentos .box-depoimento h4 {
  font-size: 18px;
  color: #616161;
}
/* line 261, ../sass/index.scss */
section.depoimentos .box-depoimento span {
  font-size: 12px;
  color: #969696;
}

@media screen and (max-width: 767px) {
  /* line 270, ../sass/index.scss */
  section.escolher{
    padding: 0px;
  }
  section.escolher p{
    padding-right: 0px !important;
  }
  section.escolher h3{
    padding-right: 0px !important;
  }
  .escolher {
    margin-top: 40px !important;
    padding: 0px 25px;
  }
  /* line 272, ../sass/index.scss */
  .escolher h3 {
    font-size: 30px;
    color: #616161;
    margin-bottom: 30px;
    padding-right: 120px;
  }
  /* line 278, ../sass/index.scss */
  .escolher p {
    font-size: 14px;
    color: #818181;
    margin-top: 30px;
    padding-right: 120px;
  }
  /* line 284, ../sass/index.scss */
  .escolher button {
    padding: 15px 30px;
    border: 2px solid #f05b43;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    color: #f05b43;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  section.escolher .agendar{
    margin-top: -40px !important;
  }

  footer{
    padding: 10px 25px !important;
  }
  footer .box-footer{
    margin-top: 30px;
  }
  footer h4{
    margin-bottom: 10px !important;
  }
  .rodape{
    padding: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  /* line 270, ../sass/index.scss */

  section.escolher{
    padding: 0px;
  }
  section.escolher p{
    padding-right: 0px !important;
  }
  section.escolher h3{
    padding-right: 0px !important;
  }
  .escolher {
    margin-top: 40px !important;
    padding: 0px 25px;
  }
  /* line 272, ../sass/index.scss */
  .escolher h3 {
    font-size: 30px;
    color: #616161;
    margin-bottom: 30px;
    padding-right: 120px;
  }
  /* line 278, ../sass/index.scss */
  .escolher p {
    font-size: 14px;
    color: #818181;
    margin-top: 30px;
    padding-right: 120px;
  }
  /* line 284, ../sass/index.scss */
  .escolher button {
    padding: 15px 30px;
    border: 2px solid #f05b43;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    color: #f05b43;
    margin-top: 50px;
  }
  section.escolher .escolher button{
    margin-bottom: 50px;
  }
  section.escolher .agendar{
    margin-top: -40px !important;
  }
  footer{
    padding: 10px 25px !important;
  }
  footer .box-footer{
    margin-top: 30px;
  }
  footer h4{
    margin-bottom: 10px !important;
  }
  footer h2{
    font-size: 16px !important;
  }
  .rodape{
    padding: 20px !important;
  }
}
