.wp-pagenavi a, .wp-pagenavi span {
	display: inline-block;
	padding: 4px;
	margin: 0 4px;
	font-size: 18px;
	/*border: 2px solid #818181;*/
	color: #818181;
	}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	color: #f58534;
	transition: 0.3s;
	}
.wp-pagenavi span.current { 
	font-weight: bolder;
	color: #f58534;
}

.wp-pagenavi .nextpostslink{
	float: none !important;
}