/* line 1, ../sass/tratamentos.scss */
section.tratamento {
  float: left;
  width: 100%;
  padding: 50px 0px;
}
/* line 6, ../sass/tratamentos.scss */
section.tratamento .menu-tratamentos .nice-select {
  width: 100%;
  height: 45px;
  border-radius: 0px;
  margin-bottom: 30px;
  display: none;
}
/* line 12, ../sass/tratamentos.scss */
section.tratamento .menu-tratamentos .nice-select .list {
  width: 100%;
  border-radius: 0px;
  max-height: 200px;
  overflow-y: scroll;
}
/* line 19, ../sass/tratamentos.scss */
section.tratamento .menu-tratamentos ul {
  display: block;
}
/* line 23, ../sass/tratamentos.scss */
section.tratamento .menu-tratamentos ul li a button {
  font-size: 18px;
  color: #616161;
  padding: 20px 0px;
  width: 100%;
  border: 0px;
  text-align: left;
  background-color: #fafaf6;
  padding-left: 30px;
  border-bottom: 1px solid #eaeae6;
}
/* line 34, ../sass/tratamentos.scss */
section.tratamento .menu-tratamentos ul li a button:hover {
  background-color: #f5f5f0;
  color: #f58534;
  transition: 0.3s;
}
/* line 44, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento {
  float: left;
  width: 100%;
}
/* line 47, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento img {
  width: 100%;
  margin-bottom: 40px;
}
/* line 51, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento h3 {
  font-size: 30px;
  color: #616161;
  margin-bottom: 40px;
}
/* line 56, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento p {
  font-size: 14px;
  color: #818181;
  margin-bottom: 40px;
}
/* line 61, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento h4 {
  font-size: 22px;
  color: #f58534;
  margin-bottom: 20px;
}
/* line 66, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .box-tratamento h5 {
  font-size: 18px;
  color: #616161;
  margin-bottom: 20px;
}
/* line 72, ../sass/tratamentos.scss */
section.tratamento .list-tratamento .carousel-tratamento {
  float: left;
  width: 100%;
}
/* line 77, ../sass/tratamentos.scss */
section.tratamento .bx-wrapper {
  border: 0px;
  padding: 30px;
  background-color: #fafaf6;
  box-shadow: none;
}
/* line 83, ../sass/tratamentos.scss */
section.tratamento .bx-wrapper .bx-prev {
  background: url("../images/arrow-prev.png") no-repeat;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 50%;
  margin-top: -24px;
}
/* line 91, ../sass/tratamentos.scss */
section.tratamento .bx-wrapper .bx-next {
  background: url("../images/arrow-next.png") no-repeat;
  width: 48px;
  height: 48px;
  right: 0px;
  top: 50%;
  margin-top: -24px;
}

@media screen and (max-width: 767px) {
  /* line 105, ../sass/tratamentos.scss */
  section.tratamento .menu-tratamentos .nice-select {
    width: 100%;
    height: 45px;
    border-radius: 0px;
    margin-bottom: 30px;
    display: block;
  }
  /* line 111, ../sass/tratamentos.scss */
  section.tratamento .menu-tratamentos .nice-select .list {
    width: 100%;
    border-radius: 0px;
    max-height: 200px;
    overflow-y: scroll;
    display: block;
  }
  /* line 119, ../sass/tratamentos.scss */
  section.tratamento .menu-tratamentos ul {
    display: none;
  }
  /* line 123, ../sass/tratamentos.scss */
  section.tratamento .menu-tratamentos ul li a button {
    font-size: 18px;
    color: #616161;
    padding: 20px 0px;
    width: 100%;
    border: 0px;
    text-align: left;
    background-color: #fafaf6;
    padding-left: 30px;
    border-bottom: 1px solid #eaeae6;
  }
  /* line 134, ../sass/tratamentos.scss */
  section.tratamento .menu-tratamentos ul li a button:hover {
    background-color: #f5f5f0;
    color: #f58534;
    transition: 0.3s;
  }
}
